{# app/Resources/views/form/fields.html.twig #}
{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
    <div class="form-row">
        <div class="label">{{ form_label(form) }}</div>
        {{ form_errors(form) }}
        {{ form_widget(form) }}
    </div>
{% endblock form_row %}


{% block button_row %}
    <div class="button-row">
        {{ form_widget(form) }}
    </div>
{% endblock button_row %}
