{% extends '::base.html.twig' %}
{% block title %}{% trans %}institution.title.deleted{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}institution.page_title.deleted{% endtrans %}{% endblock %}

{% block body -%}

    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_institution_new') }}">
                {% trans %}institution.actions.create_new{% endtrans %}
            </a>
        </li>
    </ul>

    {% embed "InstitutionBundle:Institution:institution_tabs.html.twig" %}
        {# Only show this tab if is_granted ROLE_ADMIN #}
        {% if is_granted("ROLE_ADMIN") %}
            {% block deleted_tab %}
                <a class="mdl-tabs__tab is-active" href="{{ path('manage_institution_deleted') }}">{% trans %}institution.tabs.deleted{% endtrans %}</a>
            {% endblock %}
        {% endif %}
    {% endembed %}

    {{ grid_search(grid, 'AppBundle:Grid:grid.html.twig') }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}
    {% endblock %}
