{# Only show this tab if is_granted ROLE_ADMIN #}
{% if is_granted("ROLE_ADMIN") %}
  <div class="mdl-tabs-no-swap">
    <div class="mdl-tabs__tab-bar">
      {% block institution_tab %}
          <a class='mdl-tabs__tab' href="{{ path('manage_institution') }}">Current Institutions</a>
      {% endblock %}
      {% block deleted_tab %}
          <a class='mdl-tabs__tab' href="{{ path('manage_institution_deleted') }}">Deleted Institutions</a>
      {% endblock %}
    </div>
  </div>
{% endif %}
