{# Only visible in Quote #}

{% set class = '' %}
{% if entity.layoutType %}
    {% set class = 'content-block-layout-' ~ entity.layoutType.name %}
{% endif %}
{% if entity.doubleWidth == 1 %}
    {% set class = class ~ ' content-block-size-full' %}
{% else %}
    {% set class = class ~ ' content-block-size-half' %}
{% endif %}

<div id="content-block-id-{{ entity.id }}" class="content-block content-block-id-{{ entity.id }} {{ class }}">
    <h2>{{ entity.title }}</h2>

    {% if entity.isSlideshow==1 %}
        {% embed "ContentBlocksBundle:ContentBlock:slideshow.html.twig" %}{% endembed %}
    {% else %}
        {% embed "ContentBlocksBundle:ContentBlock:images.html.twig" %}{% endembed %}
    {% endif %}
</div>
