.cta {
  height: 36px;
  line-height: 36px;
  border: 1px solid $bg_grey_d;
  color: $text_white;
  background-color: $bg_grey_d;
  @include font-sizer(16);
  padding: 0 0.625em;
  margin: 0;
  cursor: pointer;
  @include inline-block-vertical(top);
  border-radius: 4px;
  font-weight: normal;
  text-shadow: none;
  text-decoration: none;

  &:hover {
    background-color: $bg_white;
    color: $text_black;
    border-color: $bg_white;
    border-width: 1px;
  }

  &:disabled {
    background-color: #eee;
    color: gray;
    border-color: gray;
    cursor: auto;
  }

}
