.fam-edit {

  &:before {
    content: '\f040';
  }

}

.fam-view {

  &:before {
    content: '\f06e';
  }

}

.fam-delete {

  &:before {
    content: '\f00d';
  }

}

.fam-clone {

  &:before {
    content: '\f24d';
  }

}

.fam-notify {

  &:before {
    content: '\f0a2';
  }

}

.fam-restore {

  &:before {
    content: '\f0e2';
  }

}
