fieldset {
  display: block;
  margin: 0;
  padding: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
}

.textinput {
  font-size: 14px;
  line-height: 1;
  height: 28px;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid $border_grey_l;
  padding: 0 5px;
  color: $text_grey_t2;
  background: $bg_white;
  box-shadow: none;
  border-radius: 0;
}

select {
  border: 1px solid $border_grey_l;
  background: $bg_white;
  @include inline-block-vertical(top);
  max-width: 100%;
  height: 28px;
  color: $text_grey_t2;
}

/* MDL Additions */

.mdl-radio {
  z-index: 1;
  vertical-align: middle;
  width: 100%;
}

.mdl-radio__outer-circle {
  top: 4px;
}

.mdl-radio__inner-circle {
  top: 8px;
}

.mdl-checkbox {
  width: 300px;

  &:first-child {
    margin-top: 20px;
  }

  &:last-child {
    margin-bottom: 20px;
  }

}
