table {
  width: 100%;
  margin: 0 0 1em;

  td, th {

    ul, ol {
      font-size: 1em;
      margin-bottom: 0;
    }

  }

  th {
    text-transform: uppercase;
  }

  &.mdl-data-table {
    white-space: normal;

    .th-mimic {
      position: relative;
      vertical-align: top;
      text-overflow: ellipsis;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      height: 48px;
      font-size: 12px;
      color: rgba(0,0,0,.54);
      padding-bottom: 8px;
    }

    .center {
      text-align: center;
    }

  }

}

.table-actions {
  padding: 0;
  list-style: none;

  li {
    @include inline-block-vertical(top);
  }

}

/* APY Data Grids Display */
.grid-search {
  margin-bottom: $element-bottom;

  .odd,
  .even {
    float: left;
  }

  .grid-search-action {
    clear: both;
  }

}

.sort_up::after {
  @include fa-standard();
  content: "\f160";
}

.sort_down::after {
  @include fa-standard();
  content: "\f161";
}