table {
  width: 100%;
  margin: 0 0 1em;

  &.mdl-data-table {
    white-space: normal;
  }

}

td, th {

  &.mdl-data-table__cell--non-numeric.center {
    text-align: center;
  }

  ul, ol {
    font-size: 1em;
    margin-bottom: 0;
  }

}

.table-actions {
  padding: 0;
  list-style: none;

  li {
    @include inline-block-vertical(top);
  }

}

/* APY data Grids Display */
.grid-search {
  padding: 1em;
  border: 1px solid $border_grey_l;
  .odd {
    padding:1em;
    float:left;
  }
  .even {
    padding:1em;
    float:left;
  }
  .grid-search-action{
    clear:both;

  }
}

.mdl-data-table {
  th{
    text-transform: uppercase;
  }
}