table {
  width: 100%;
  margin: 0 0 1em;

  td, th {
    text-align: left;

    ul, ol {
      font-size: 1em;
      line-height: inherit;
      margin-bottom: 0;
    }

  }

  th {
    text-transform: uppercase;
  }

  &.mdl-data-table {
    white-space: normal;
    width: 100%;

    .th-mimic {
      position: relative;
      vertical-align: top;
      text-overflow: ellipsis;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: 0;
      height: 48px;
      font-size: 12px;
      color: rgba(0,0,0,.54);
      padding-bottom: 8px;
    }

    .center {
      text-align: center;
    }

  }

}

/* APY Data Grids Display */
.grid-search {

  .odd,
  .even {
    float: left;
    margin-right: 2em;
    margin-bottom: $element-bottom / 2;
  }

  .grid-search-fields,
  .grid-search-action {
    @include clear-fix();
  }

  .grid-search-action {
    margin-bottom: $element-bottom;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="number"],
  input[type="tel"] {
    @extend .textinput;
  }

  label {
    @include inline-block-vertical();
    line-height: 28px;
  }

}

.grid_footer {
  @include clear-fix();
}

.grid-column-organizer_full, .grid-column-salesAgent_full {
  overflow-wrap: break-word;
  box-sizing: border-box;
}

.mld-data-table__wrapper {

  .rwd-table {
    width: 100%;
    border: 0;
    background: transparent;
    margin-bottom: 0;

    @include breakpoint_tablet() {
      border: 1px solid $border_grey_l;
      background: $bg_white;
      margin-bottom: 1em;
    }

    tr {
      display: block;
      height: auto;
      margin-bottom: 1em;
      border: 1px solid $border_grey_l;
      background: $bg_white;

      @include breakpoint_tablet() {
        display: table-row;
        height: inherit;
        margin-bottom: 0;
        border: 0;
        background: transparent;
      }

    }

    th {
      display: none;
    }

    td {
      display: block;
      padding-left: 18px; // Match MDL
      padding-right: 18px; // Match MDL
      text-align: right;
      border: 0;

      @include breakpoint_tablet() {
        border-top: 1px solid $border_grey_l;
        border-bottom: 1px solid $border_grey_l;

        &.mdl-data-table__cell--non-numeric {
          text-align: left;
        }

        &:first-of-type {
          padding-left: 24px;
        }

        &:last-of-type {
          padding-right: 24px;
        }

      }

      &:before {
        content: attr(data-th)":";
        font-weight: bold;
        display: inline-block;
        margin-right: 0.25em;
        float: left;
        max-width: 50%;
        text-align: left;

        @include breakpoint_tablet() {
          display: none;
        }

      }

    }

    th, td {

      @include breakpoint_tablet() {
        display: table-cell;
      }

    }

    .grid-row-titles {
      display: none;

      @include breakpoint_tablet() {
        display: table-row;
      }

    }

  }

}

.show-table {

   td.mdl-data-table__cell--non-numeric {
    text-align: center;

     &:before {
       content: '';
     }

    @include breakpoint_tablet() {
      text-align: right;
    }

  }
  
}
