{% extends '::base.html.twig' %}
{% block title %}Create Currency{% endblock %}
{% block page_title %}Create Currency{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_currency') }}">
            <i class="fa fa-arrow-circle-left"></i> Back to the list
        </a>
    </li>
</ul>
{% endblock %}
