{% extends '::base.html.twig' %}
{% block title %}Create Currency{% endblock %}

{% block body -%}
    <h1>Currency creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_currency') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
