{% extends '::base.html.twig' %}
{% block title %}{% trans %}currency.title.new{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}currency.page_title.new{% endtrans %}{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_currency') }}">
            <i class="fa fa-arrow-circle-left"></i> {% trans %}currency.actions.back{% endtrans %}
        </a>
    </li>
</ul>
{% endblock %}
