{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Permission creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('permission') }}">
            <i class="fa fa-arrow-circle-left"></i> Back to the list
        </a>
    </li>
</ul>
{% endblock %}
