{% block dropzone %}

<form enctype="multipart/form-data" class="dropzone" action="{{ oneup_uploader_endpoint(context) }}" method="post" name="dropzone-form" id="dropzone-form">
    {{ form_widget(form) }}
</form>

{% endblock %}

{% javascripts '@toolkit_dropzone' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
