table .fa {
  @include inline-block-vertical();
  font-size: 18px;
}

.grid-row-actions,
.table-actions {
  padding: 0;
  list-style: none;

  li {
    float: left;
    margin-right: 0.5em;
  }

}

.record_actions {
  padding: 0;
  list-style: none;

  li {
    @include inline-block-vertical();
  }

}
