.dropzone {
  padding: 20px;
  position: relative;

  .dz-message {
    margin: -20px 0 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    text-align: center;
  }

}

.dropzone .dz-preview.dz-image-preview {
   background: transparent;
}

.dropzone .dz-preview {
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;

  .dz-image {
    margin: 0 auto;
    border-radius: 0;
    width: 118px; // 160px less the border and padding
    height: 118px; // 160px less the border and padding
  }

  .dz-remove {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
  }

  &:hover .dz-remove {
    display: block;
    z-index: 10;
  }

}

#overlay {
  background: rgba(0,0,0,0.15);
  border-radius: 20px;
  text-align: center;
  height: 100%;
  padding: 0;
  opacity: 0;
  @include vendor-prefix(transition, opacity 0.25s ease);
}

.media-placeholder-image,
.dropzone-form {
  width: 300px;
  height: 160px;
  background: transparent;
  border: 1px dashed #000;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
}

.dropzone-form {
  display: none;
  padding: 20px;
}

.media-placeholder-image {
  text-align: center;
  display: block;
  cursor: pointer;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;

  .fa {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50%;
  }

  .edit .fa {
    top: 50%;
    bottom: auto;
    margin-top: -0.5em;
  }

  span {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
  }

  &:hover #overlay {
    opacity: 1;
  }

}

#avatar-label,
.avatar-label {
  width: 300px;
  position: relative;
}

.dropzone-form-close {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 11;
  cursor: pointer !important;
  padding: 10px;
  display: none;

  * {
    cursor: pointer !important;
  }
}

.dropzone-form-errors {
  display: none;
  margin: 20px 0;
}

#dropzone-dialog {
  .dropzone-form,
  .dropzone-form-primary {
    margin: auto;
  }

  .dropzone-form-errors {
    text-align: center;
  }
}
