.site-footer {
  display: block;
  padding-top: 16px;
  padding-bottom: 16px;

  .pdf-layout &,
  .base-site & {
    background: transparent;
    color: $text_grey_t2;
  }

  a {
    color: inherit;
  }

  p {
    margin: 0.5em 0;
  }

  .intro {
    display: block;
    margin: 0.5em 0 2em;
  }

  .tui-image-avatar,
  .tui-text-avatar {
    float: left;
    margin: 0 0.5em 0 0;
  }

  .agent {
    display: block;
    min-height: 48px;
    padding: 4px 0; // To make it the same height as avatar @ 2 lines
  }

  .quote-info {
    text-align: right;
    margin: 0.5em 0 1em;

    .pdf-layout & {
      text-align: left;
    }

  }

  .quote-label {
    float: left;

    .pdf-layout & {
      float: none;
    }

  }

  .quote-price {
    font-size: 1.5em;
  }

  .mdl-button {
    display: block;
    margin: 1em 0;
    width: 100%;
    @include no-print();

    .pdf-layout & {
      display: none;
    }

  }

}

.footer-full-section {
  clear: both;
  @include span-all();
  width: 100%;

  .pdf-layout & {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-left-section ~ &,
  .footer-right-section ~ & {
    padding-top: 1em;
  }

}

.footer-left-section,
.footer-right-section {
  @include span-all();
}

.footer-left-section {

  @include breakpoint_tablet() {
    float: left;
    width: $column_total_width * 3;
  }

}

.footer-right-section {

  @include breakpoint_tablet() {
    float: right;
    width: $column_total_width;
  }

}
