form {

  .button-row {
    margin-bottom: 1em;
  }

}

.form-row {
  position: relative;
}

.mdl-form-mimic {
  position: relative;
  z-index: 1;
}

.mdl-label-mimic {
  font-size: 12px;
  white-space: nowrap;
}

.mdl-form-wrap {
  position: relative;
  @include inline-block-vertical();
  width: 300px;
  padding: 20px 0;
}

.mdl-colorfield,
.mdl-selectfield,
.cke-wrapper {
  position: relative;
  font-size: 16px;
  @include inline-block-vertical();
  width: 300px;
  padding: 24px 0 20px; // 24px top is different that MDL

  .mdl-label-mimic {
    position: absolute;
    left: 0;
    top: 4px;
    bottom: 0;
    right: 0;
    z-index: -1;
  }

}

.cke-wrapper {
  width: auto;
  font-size: inherit;
  display: block;
}

.mdl-select {
  width: 100%;
}

form > .form-row > ul > li {
  color: red;
  list-style: none;
}

.setup-form-list {
  margin: 1em 0 1em;

  li {

    form[name=tui_toolkit_tourbundle_toursetup] {

      .mdl-textfield {
        width: auto;
        min-width: 150px;
      }
    }
  }
}

.mdl-card__supporting-text {
  font-size: 16px;

  i {
    margin-right: 15px;
  }
}

.payment-types {
  margin-bottom: 20px;

  .mdl-textfield {

    display: none;
  }
}

.setup-form-list {
  margin: 1em 0 1em;

  li {

    form[name=tui_toolkit_tourbundle_toursetup] {

      .mdl-textfield {
        width: auto;
        min-width: 150px;
      }
    }
  }
}

.mdl-card__supporting-text {
  font-size: 16px;

  i {
    margin-right: 15px;
  }
}

.payment-types {
  margin-bottom: 20px;

  .mdl-textfield {

    display: none;
  }
}

form[name=tui_toolkit_tourbundle_toursetup] {
  .setup-form-list {
    & > li {
      clear: both;
    }

    .price-per-person {
      display: block;
      float: left;
      max-width: 75%;
      margin-right: 0.5em;

      .mdl-textfield {
        max-width: 100%;
      }
    }

    .price-per-person-suffix {
      padding: 24px 0;
      line-height: 19px; // Match mdl input height to ensure vertical alignment.

      p {
        margin-bottom: 0;
        display: inline;
        font-size: 16px;
      }
    }

    #adjusted-price {
      color: #008000;
    }
  }
}

.passenger-form {
  .dateOfBirth {
    padding-top: 24px;
    position: relative;
  }
}

.currency-symbol {
  padding: 28px 0 20px 0;
  line-height: 19px;
  float: left;
  margin: 0 0.3em;
}

.form-errors {
  color:red;

  ul {
    list-style: none;
  }
}

#ui-datepicker-div {
  z-index: 200 !important;
}
