.header-top {
  background: $bg_grey_d;
  color: $text_white;
  padding: 0 $page_gutter;
  border-bottom: 1px solid #000;
  @include clear-fix();

  a {
    text-decoration: none;
  }

  .admin-menu {
    float: left;
  }

  .login {
    float: right;
  }

}
