.header {
  margin: 0 0 2em;
  @include clear-fix();

  &.mdl-layout__header {
    display: block;
    min-height: auto;
    max-height: none;
  }

  h1 {
    margin: 0;
    padding: 0.25em 0;
    clear: both;

    .user_0 & {
      text-align: center;
    }

  }

}

.brand_logo {
  padding: 8px 0;
  float: right;
  color: $text_white;

  .tui-drawer-header ~ & {
    line-height: 48px;
  }

  img {
    max-width: 120px;
  }

}

.brand_logo_login {
  padding: 1em 0;
  text-align: center;
  color: $text_grey_t2;
  font-size: 24px;

  img {
    width: auto;
    height: auto;
    max-width: 360px;
    max-height: 100px;
  }

}
