.header-top {
  background: $bg_grey_d;
  color: $text_white;

  a {
    text-decoration: none;
  }

  .login {
    text-align: right;
    @include font-sizer(12);
    width: 80%;
    margin: 0 auto;
    padding: 0.5em 0;
    @include clear-fix();

    a {
      color: $text_link_dark;
    }

  }

}
