.flash-messages,
.brand_logo,
.page-title {
  @include span-all();
}

.header {
  position: relative;
  display: block;

  .pdf-layout & {
    padding: 1em;
  }

  .page-title {
    position: relative;
    padding-top: 1em;
    padding-bottom: 1em;
    clear: both;
    @include clear-fix();

    h1 {
      margin: 0;
      @include inline-block-vertical();
    }

    .user_0 & {
      text-align: center;
    }

    .marketing-site & {
      text-align: left;
    }

    .title-menu-drop {
      position: relative;
      margin: (((56px * 1.35) - 32px) / 2) 0;
    }

  }

}

.brand_logo {
  padding-top: 8px;
  padding-bottom: 8px;
  color: $text_white;
  float: right;

  .pdf-layout & {
    text-align: right;
  }

  img {
    max-width: 120px;
  }

  .tui-drawer-header ~ & {
    line-height: 48px;
    padding-left: 0;
    padding-right: 0;

    img {
      width: auto;
      height: auto;
      max-height: 48px;
    }

  }

}

.brand_logo_login {
  padding: 1em 0;
  text-align: center;
  color: $text_grey_t2;
  font-size: 24px;

  img {
    width: auto;
    height: auto;
    max-width: 360px;
    max-height: 100px;
  }

}

.tui-image-avatar {
  border-radius: 24px;
  height: 48px;
  width: 48px;
  overflow: hidden;
  display: block;

  .header &,
  .site-footer & {
    display: block;
    cursor: pointer;
  }

  div {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;
  }

}

.tui-text-avatar {
  border-radius: 24px;
  height: 48px;
  line-height: 48px;
  width: 48px;
  color: $text_white;
  @include mdl-primary-color(background-color, 6);
  text-align: center;
  @include inline-block-vertical();

  .header &,
  .site-footer & {
    display: block;
    color: $text_grey_t2;
    background: $bg_white;
    cursor: pointer;
  }

}