html {
  background-color: $bg_grey_l1;
}

.main_login {

  .signin-form{
    display: block;
  }

  .login_reset {
    position: absolute;
    color: $bg_grey_d;
    width: 100%;
    text-align: center;
    top: 520px;
    z-index: 5;

    a {
      color: #A9A9AB;
      text-decoration: none;
    }
  }

  .mdl-layout__container {

    .logo-sample {
      width: auto;
      position: relative;
      display: block;
      margin: 0 auto;
      text-align: center;
      padding-bottom: 10px;
    }

    .header.mdl-layout__header {
      background-color: $bg_grey_l1;
      border: none;
      box-shadow: none;

      h1 {
        visibility: hidden;
      }
    }
  }

  .content {
    max-width: 436px;
    height: 360px;
    position: relative;
    background-color: white;
    margin: 0 auto;
    border: 1px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.3);

    .inner {
      .signin-form {
        font-weight: 100;
        text-align: center;
      }

      form {
        text-align: center;
      }

      #username {
        width: 85%;
        margin: 0 auto;
        position: relative;
        padding: 15px;
      }

      #password {
        width: 85%;
        margin: 0 auto;
        position: relative;
        padding: 15px;
      }
      #remember_me {
        display: none;
      }

      label {
        display: none;
      }

      #_submit {
        width: 85%;
        margin: 0 auto;
        position: relative;
        padding: 15px;
        color: $white;
        background-color: $lime_green;
        border: none;
        box-shadow: none;
        margin-top: 20px;
        border-radius: 3px;
      }
    }
  }
}
