.admin-menu {
  position: relative;
  @include font-sizer(12);
  z-index: 999;
  border-bottom: 1px solid #000;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  > ul {
    width: $page_width;
    margin: 0 auto;
    @include clear-fix();
  }

  li {
    float: left;
    position: relative;

    &.active {
      background: rgba(0,0,0,0.2);
    }

    ul {
      display: none;
      background: $bg_grey_d;
      border-top: 1px solid #000;
      position: absolute;
      top: 100%;
      left: 0;

      li {
        float: none;
      }

    }

    &:hover {
      background: rgba(0,0,0,0.2);

      ul {
        display: block;
      }

    }

  }

  a, span {
    display: block;
    color: $white;
    padding: 0.5em 1em;
  }

  span {
    cursor: default;
  }

  .active a {
    color: $text_link_dark;
  }

}
