.tui-drawer-header {

  .mdl-layout__drawer & {
    display: flex;
    flex-direction: column;
    height: 150px;
    justify-content: flex-end;
    padding: 16px;
  }

  .header & {
    float: right;
    padding: 0 $column_gutter_width 0 16px;
    border-left: 1px solid $border_white_l;
    margin: 8px 0 8px 16px;
    position: relative;
  }

}

.tui-avatar-dropdown {

  .mdl-layout__drawer & {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }

  .header & {
    width: 100%;
  }

}

.mdl-navigation__link {
  white-space: nowrap;
}

.mdl-layout__drawer {

  .mdl-navigation {

    ul {
      margin: 0;
      padding: 0;
    }

    .active a {
      @include mdl-secondary-color(color, 12);
    }

    span.mdl-navigation__link {
      cursor: pointer;
    }

    ul ul {

      > span {
        display: block;
      }

      .mdl-navigation__link {
        font-weight: 400;
        padding: 10px $layout-header-mobile-indent 10px ($layout-header-mobile-indent * 2);

        @include breakpoint_tablet {
          padding: 10px $layout-header-desktop-indent 10px ($layout-header-desktop-indent * 2);
        }

      }

    }

  }

}

.admin-menu-toggle {
  font-size: 28px;
  position: absolute;
  left: 0;
  top: 0;
  width: 28px;
  text-align: center;
  margin: 16px;
  cursor: pointer;
  z-index: 10;

  @include breakpoint_desktop() {
    position: fixed;
  }

}

.admin-menu-obfuscator {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $text_grey_t1;
  z-index: 1;

  @include breakpoint_desktop() {
    display: none !important;
  }

}


/* Expand and collapse */

.collapse-admin-menu {

  .toolkit-drawer {
    -webkit-transform: translateX(-($admin_menu_width));
    -ms-transform: translateX(-($admin_menu_width));
    transform: translateX(-($admin_menu_width));
  }

  &.toolkit-fixed-drawer > .toolkit-main {
    margin-left: 0;
  }

  .admin-menu-toggle {
    position: absolute;
  }

}

.expand-admin-menu {

  .toolkit-drawer {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }

  &.toolkit-fixed-drawer > .toolkit-main {
    margin-left: 0;

    @include breakpoint_desktop() {
      margin-left: $admin_menu_width;
    }

  }

  .admin-menu-toggle {
    position: fixed;
  }

}
