.tui-drawer-header {
  display: flex;
  flex-direction: column;
  height: 151px;
  justify-content: flex-end;
  padding: 16px;

  .tui-image-avatar {
    border-radius: 24px;
    height: 48px;
    width: 48px;
  }

  .tui-text-avatar {
    border-radius: 24px;
    height: 48px;
    line-height: 48px;
    width: 48px;
    color: white;
    background: black;
    text-align: center;
  }

  .tui-avatar-dropdown {
    align-items: center;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 100%;
  }

}

.mdl-navigation__link {
  white-space: nowrap;
}

.mdl-layout__drawer {

  .mdl-navigation {

    ul {
      margin: 0;
      padding: 0;
    }

    span.mdl-navigation__link {
      cursor: pointer;
    }

    ul ul {

      > span {
        display: block;
      }

      .mdl-navigation__link {
        font-weight: 400;
        padding: 12px $layout-header-desktop-indent 12px ($layout-header-desktop-indent * 2);

        @media screen and (max-width: $layout-screen-size-threshold) {
          padding: 12px $layout-header-mobile-indent 12px ($layout-header-mobile-indent * 2);
        }

      }

    }

  }

}

.admin-menu,
.login {
  position: relative;
  @include font-sizer(12);

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    float: left;
    position: relative;

    &.active {
      background: rgba(0,0,0,0.2);
    }

    ul {
      display: none;
      background: rgba(0,0,0,0.2);
      border-top: 1px solid #000;
      position: absolute;
      top: 100%;
      z-index: 10;

      li {
        float: none;
      }

    }

    &:hover {
      background: rgba(0,0,0,0.2);

      ul {
        display: block;
      }

    }

  }

  a, span {
    display: block;
    color: $white;
    padding: 0.5em 1em;
  }

  span {
    cursor: default;
  }

  .active a {
    color: $text_link_dark;
  }

}





.admin-menu {

  li {

    ul {
      left: 0;
    }

  }

}





.login {

  li {
    white-space: nowrap;
    text-align: right;

    ul {
      right: 0;
    }

  }

}
