.flash-messages {

  .flash-message {
    padding: 1em $page_gutter;
    font-style: italic;
    color: $text_white;
    background: $bg_grey_d;

    &.flash-message-error {
      background: red;
    }

  }

}
