.flash-messages {

  .flash-message {
    font-style: italic;

    &.flash-message-error {
      // background: red;
    }

  }

}

/* Flashbag Messages */

.snack-wrap {
  position: relative;
  width: $fluid_width;
  height: 0;
  margin: 0 auto;
  padding: 0;

  @include breakpoint_desktop() {
    width: $page_width;
    max-width: $page_max_width;
  }

}

.snackbar {
  padding: 14px 2.5%;
  height: auto;
  color: #fff;
  position: relative;
  left: 0;
  top: -48px;
  transition: bottom 0.5s ease-in-out;
  z-index: 9;
}

.snackclose {
  display: none;
  z-index: 10;
}

.animated {
  animation-name: snackbar-show;
  animation-duration: 3s;
  animation-direction: forwards;
  animation-timing-function: ease-in-out;
  animation-delay:1s;
  animation-fill-mode: forwards;
}

//.snackclose:checked ~ .snackbar,
//.snackclose:checked,
//.snackclose:checked + label {
//  animation-name: snackbar-hide;
//  animation-delay:0s;
//}

@keyframes snackbar-show {
  0%{ top:-48px; }
  90%, 95% {top:12px; }
  92.5%, 100% {top:0; }
}

@keyframes snackbar-hide {
  0%, 7.5% {top:0; }
  5%,10% {top:12px; }
  100% {top:-48px; }
}

.flash-message-notice {
  background: green;
}

.flash-message-error {
  background: red;
}

.flash-close {
  position: absolute;
  right: 2.5%;
  top: 14px;
  line-height: inherit;
  font-style: normal;
  z-index: 1;
  cursor: pointer;
}
