.flash-messages {

  .flash-message {
    padding-top: 1em;
    padding-bottom: 1em;
    font-style: italic;
    color: $text_white;
    background: $bg_grey_d;

    &.flash-message-error {
      background: red;
    }

  }

}
