// Page layout styling

html {
  background: $bg_grey_l1;
}

.header,
.sub-header,
.content,
.site-footer {
  padding-left: $page_gutter;
  padding-right: $page_gutter;

  .toolkit-fixed-drawer & {
    padding-left: $admin_page_gutter;
    padding-right: $admin_page_gutter;
  }

  .pdf-layout & {
    padding-left: 0;
    padding-right: 0;
  }

}

.content {

  .inner {
    @include span-all();
    padding-top: $element-bottom;
    padding-bottom: $element-bottom;

    .marketing-site & {
      padding-top: 0;
    }

    > h1 {
      width: $page_width_reset;
      margin-left: -$page_gutter_reset;
      padding: 0.25em $page_gutter_reset;

      .toolkit-fixed-drawer & {
        width: $admin_page_width_reset;
        margin-left: -$admin_page_gutter_reset;
        padding: 0.25em $admin_page_gutter_reset;
      }

    }

  }

}
