.mdl-tabs-no-swap {
  display: block;
  width: 100%;

  .is-active {
    color: $text_black;

    &:after {
      content: '';
      background: $text_black;
      bottom: 0;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

  }

}
