.mdl-tabs,
.mdl-tabs__panel {
  @include clear-fix();
}

.mdl-tabs-no-swap {
  display: block;
  width: 100%;
  margin-bottom: $element-bottom;

  .is-active {
    color: $text_black;

    &:after {
      content: '';
      background: $text_black;
      bottom: 0;
      display: block;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }

  }

}

.site-content-blocks-tab {
  cursor: pointer;
  padding: 0 24px;
  float: left;
  position: relative;
  height: 48px;
  line-height: 48px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  overflow: hidden;
}
