<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">

    <title>{% block title %}PDF{% endblock %} | eToolkit</title>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">

    {{ render(controller('BrandBundle:Default:colorsPdf')) }}

<div class="marketing-site pdf-layout">

    <div class="main">

        <div class="header">
            <div id="site-quote-name">
                {% block page_institution %}{% endblock %}
            </div>

            <h1 id="site-quote-title">
                {% block page_title %}{% endblock %}
            </h1>
        </div>

        <div class="content">
            {% block body %}{% endblock %}
        </div>

        <div class="site-footer">
            <div class="footer-full-section">
                {% block footer_left %}{% endblock %}
                {% block footer_right %}{% endblock %}
                {{ render(controller('BrandBundle:Default:footer')) }}
            </div>
        </div>

    </div>

</div><!-- marketing-site pdf-layout -->

</body>

</html>
