# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     precip.vm
    database_port:     3306
    database_name:     toolkit
    database_user:     toolkit
    database_password: toolkit
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport: smtp
    mailer_host: smtp.mandrillapp.com
    mailer_user: expedu
    mailer_password: s_V-Hi_b9PgIkiU6wBmb5w
    mailer_port: 587

    # A secret key that's used to generate certain security-related tokens
    secret:            Zend1234!

    # brand_id is added after crated in db so it can be mapped
    brand_id:   1
    locale: en_GB
    currency: GBP
    date_format:    dd-mm-yy
    user_system_email: noreply@toolkit.com
    user_system_name: TUI Toolkit System
    # to bust cache on deployments, increment this version number
    #cache_asset_version: 1.1.9
    profile_query_limit:    5