{# Only logged-in can see this menu #}
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
    <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="tour-title-drop">
    <span>
        <li><a href="{{ path('_homepage') }}" class="mdl-menu__item">{% trans %}tour.menu.my_tours{% endtrans %}</a></li>
        {% block tour_dashboard_link %}{% endblock %}
        <li><a href="{{ path('tour_site_action_show', { 'id': tour.id }) }}" class="mdl-menu__item">{% trans %}tour.menu.preview{% endtrans %}</a></li>
        <li><a href="{{ path('manage_passenger_dashboard', { 'tourId': tour.id }) }}" class="mdl-menu__item">{% trans %}passenger.title.index{% endtrans %}</a></li>
        <li><a href="{{ path('manage_tour_edit_payments', { 'id': tour.id }) }}" class="mdl-menu__item">{% trans %}tour.menu.payments{% endtrans %}</a></li>
    </span>
    </ul>
{% endif %}
