<ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="passenger-edit-actions-menu-drop-{{ entity.id }}">
    <span>
        <li><a id="passenger" href="#" class="mdl-menu__item" passenger="{{ entity.id }}">{% trans %}passenger.actions.edit_passenger{% endtrans %}</a></li>
        {% if parent is defined and parent.enabled == false %}
            <li><a id="passenger-delete" href="{{ path('user_registration_confirmation', { 'id': parent.id }) }}" class="mdl-menu__item">{% trans %}passenger.actions.send-notification{% endtrans %}</a></li>
        {% endif %}
    </span>
</ul>
