{% extends '::base.html.twig' %}

{% block body -%}
    <h1>{% trans %}tour.page_title.payment_task.new{% endtrans %}</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('paymenttask') }}">
            {% trans %}tour.actions.back{% endtrans %}
        </a>
    </li>
</ul>
    {{ form_javascript(form) }}
    <script>
        $( document ).ready(function() {
            $( ".hasDatepicker" ).datepicker( "option", "dateFormat", "dd-mm-yy" );
            $( ".hasDatepicker" ).change(function(){
                $(this).parent().addClass('is-dirty');
            });
        });
    </script>
{% endblock %}
