{# CTA buttons above the quote grid#}
<div>
    <ul class="quote_buttons">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote_new') }}">Create a new Quote</a>
        </li>
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote_newtemplate') }}">Create a new Template</a>
        </li>
    </ul>
</div>