{% extends '::base.html.twig' %}
{% block title %}Manage Quotes{% endblock %}
{% block body -%}
    <h1>Quote Dashboard - Converted</h1>

    {% embed "QuoteBundle:QuoteVersion:buttons.html.twig" %}{% endembed %}
    {% embed "QuoteBundle:QuoteVersion:quote_tabs.html.twig" %}
        {% block converted_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote_converted') }}">Converted Quotes</a>
        {% endblock %}
    {% endembed %}


    {{ grid_search(grid) }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

    {% endblock %}
