{% extends '::base.html.twig' %}
{% block title %}{% trans %}quote.title.converted{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}quote.page_title.converted{% endtrans %}{% endblock %}

{% block body -%}

    {% embed "QuoteBundle:QuoteVersion:buttons.html.twig" %}{% endembed %}
    {% embed "QuoteBundle:QuoteVersion:quote_tabs.html.twig" %}
        {% block converted_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote_converted') }}">{% trans %}quote.tabs.converted{% endtrans %}</a>
        {% endblock %}
    {% endembed %}


    {{ grid_search(grid, 'AppBundle:Grid:grid.html.twig') }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

    {% endblock %}
