{% extends '::base.html.twig' %}
{% block title %}Quote Dashboard - Deleted{% endblock %}
{% block page_title %}Quote Dashboard - Deleted{% endblock %}

{% block body -%}

    {% embed "QuoteBundle:QuoteVersion:buttons.html.twig" %}{% endembed %}

    {% embed "QuoteBundle:QuoteVersion:quote_tabs.html.twig" %}
        {% block deleted_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote_deleted') }}">Deleted Quotes</a>
        {% endblock %}
    {% endembed %}

    {{ grid_search(grid) }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

    {% endblock %}
