{% extends '::base.html.twig' %}

{% block title %}Quote Dashboard - Active{% endblock %}
{% block page_title %}Quote Dashboard - Active{% endblock %}

{% block body %}

    {% embed "QuoteBundle:QuoteVersion:buttons.html.twig" %}{% endembed %}

    {% embed "QuoteBundle:QuoteVersion:quote_tabs.html.twig" %}
        {% block active_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote') }}">Active Quotes</a>
        {% endblock %}
    {% endembed %}
    
    {{ grid_search(grid, 'AppBundle:Grid:grid.html.twig') }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

    <script>
        $(document).ready(function() {
            $(".fam-lock, .fam-unlock").parent().on('click', function() {
                $("#loader").css("display", "inline-block");
            });

            {% if is_granted("ROLE_BRAND") %}
                if ($(".fam-unlock").length > 0) {
                    $(".fam-unlock").parent().remove();
                    var width = $(".grid-row-actions").width();
                    var newWidth = width - 60;
                    $(".grid-row-actions").css({"min-width": newWidth});
                }
            {% endif %}
        });
    </script>

{% endblock %}