{% extends '::base.html.twig' %}
{% block title %}Create Quote {% if template is defined %}{{ template }} {% endif %}{% endblock %}
{% block body -%}
    <h1>New Quote {% if template is defined %}{{ template }} {% endif %}</h1>

    {{  form(form) }}


        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_quote') }}">
            Back to the list
        </a>
    </li>
</ul>

{% endblock %}
