{% extends '::base.html.twig' %}
{% block title %}Quote Dashboard - Templates{% endblock %}
{% block page_title %}Quote Dashboard - Templates{% endblock %}

{% block body -%}

    {% embed "QuoteBundle:QuoteVersion:buttons.html.twig" %}{% endembed %}
    {% embed "QuoteBundle:QuoteVersion:quote_tabs.html.twig" %}
        {% block templates_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote_templates') }}">Templates</a>
        {% endblock %}
    {% endembed %}

    {{ grid_search(grid) }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

    {% endblock %}
