<div class="mdl-tabs-no-swap">
  <div class="mdl-tabs__tab-bar">

    {% block user_tab %}
      <a class='mdl-tabs__tab' href="{{ path('user') }}">{% trans %}user.tabs.current{% endtrans %}</a>
    {% endblock %}

    {# Only show this tab if is_granted ROLE_ADMIN #}
    {% if is_granted("ROLE_ADMIN") %}
        {% block deleted_tab %}
          <a class='mdl-tabs__tab' href="{{ path('user_deleted') }}">{% trans %}user.tabs.deleted{% endtrans %}</a>
        {% endblock %}
    {% endif %}

  </div>
</div>
