/* line 1, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
html {
  font-family: sans-serif;
  font-size: 87.5%;
  line-height: 1.42857;
  -webkit-font-smoothing: antialiased;
}

/* line 8, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
a {
  color: #8bc34a;
  text-decoration: underline;
}
/* line 12, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
a:hover {
  text-decoration: none;
}

/* line 18, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h1, h2, h3, h4, h5 {
  font-weight: normal;
}

/* line 22, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h1 {
  font-size: 1.71429em;
  margin: 0 0 0.75em;
}

/* line 27, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h2 {
  font-size: 1.42857em;
  margin: 0 0 0.75em;
}

/* line 32, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h3 {
  font-size: 1.28571em;
  margin: 0 0 0.5em;
}

/* line 37, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h4 {
  font-size: 1.14286em;
  margin: 0 0 0.5em;
}

/* line 42, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/base/_typography.scss */
h5, h6 {
  font-size: 1.14286em;
  margin: 0 0 0.5em;
}

/* line 1, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_page.scss */
html {
  background: #f4f5f6;
}

/* line 1, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_header-top.scss */
.header-top {
  background: #4a494a;
  color: #fff;
}
/* line 5, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_header-top.scss */
.header-top a {
  text-decoration: none;
}
/* line 9, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_header-top.scss */
.header-top .login {
  text-align: right;
  font-size: 0.85714em;
  width: 80%;
  margin: 0 auto;
  padding: 0.5em 0;
}
/* line 3, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/abstractions/_layout.scss */
.header-top .login:after {
  content: '';
  display: table;
  clear: both;
}
/* line 17, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_header-top.scss */
.header-top .login a {
  color: #bdff70;
}

/* line 1, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu {
  position: relative;
  font-size: 0.85714em;
  z-index: 999;
  border-bottom: 1px solid #000;
}
/* line 7, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 13, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu > ul {
  width: 80%;
  margin: 0 auto;
}
/* line 3, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/abstractions/_layout.scss */
.admin-menu > ul:after {
  content: '';
  display: table;
  clear: both;
}
/* line 19, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu li {
  float: left;
  position: relative;
}
/* line 23, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu li ul {
  display: none;
  background: #4a494a;
  border-top: 1px solid #000;
  position: absolute;
  top: 100%;
  left: 0;
}
/* line 31, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu li ul li {
  float: none;
}
/* line 37, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu li:hover {
  background: #444;
}
/* line 40, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu li:hover ul {
  display: block;
}
/* line 48, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu a {
  display: block;
  color: #fff;
  padding: 0.5em 1em;
}
/* line 53, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu a:hover {
  background: #444;
}
/* line 59, ../srv/www/Toolkit/src/AppBundle/Resources/assets/css/sass/components/_menu-admin.scss */
.admin-menu .active a {
  color: #bdff70;
}
