.brands_table.records_list {

  td.logo {
    text-align: center;
  }

}

form[name="tui_toolkit_brandbundle_brand"] {
  position: relative;
  padding-bottom: 160px + 36px + 20px;

  .button-row {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  ~ .dropzone {
    margin-top: -(160px + 36px + 20px);
    margin-bottom: 36px + 20px + 20px;
  }

}
