// CK editor
form .cke {
  max-width: 100%;
  box-sizing: border-box;
}


.content-blocks-wrapper {
  @include clear-fix();
  margin-top: $element-bottom;
}

.tabs-placeholder,
.items-placeholder {
  background: #ccc;
  width: auto;
  display: block;
  outline: 2px dashed #000;
}

.tabs-placeholder {
  height: 100px;
}

.items-placeholder {
  height: 40px;

  .mode-edit & {
    height: auto;
  }

}

.content-blocks-tab {
  margin-bottom: $element-bottom / 2;
  display: block;
  min-height: 1em;
}

.content-blocks.tab-label {
  background-color: #dcdcdc;
  display: block;
  padding: 6px 12px;
  cursor: move;

  .editable-tab {
    @include inline-block-vertical();
    margin: 0;
  }

}

.content-blocks.default-cursor {
  cursor: default;
}

.content-blocks-item {
  display: block;
  padding: 12px 24px;
  border-bottom: 1px solid $border_grey_l;
  cursor: move;

  .fa {
    @include inline-block-vertical();
    line-height: inherit;
  }

}

.content-block-actions,
.content-block-tab-actions {
  float: right;
}

.icon-label {
  cursor: pointer;
  line-height: 32px;
  float: right;
  padding-left: 1em;

  .content-block-tab-actions {
    float: none;
    padding: 0;
  }

}

.content-block-tab-handle {
  @include inline-block-vertical();
  line-height: 32px;
}

.sortable-items,
.content-blocks-drawer {
  min-height: 1em;
}

.content-block-item-action,
.content-block-tab-actions {
  cursor: pointer;
}






#tui_toolkit_contentblocksbundle_contentblock_layoutType .mdl-radio__label,
td .layout-icons {
  position: relative;
  @include inline-block-vertical();
  text-indent: 3em;
  width: 3em;
  overflow: hidden;

  &:before {
    @include fa-standard();
    position: absolute;
    top: 0;
    left: -3em;
  }

  &:after {
    @include fa-standard();
    position: absolute;
    bottom: 0;
    left: -3em;
  }

}

td .layout-icons {
  margin-bottom: 1em;
}

#tui_toolkit_contentblocksbundle_contentblock_layoutType_1 ~ .mdl-radio__label,
td .layout-icons.image_left {

  &:before {
    content: "\f03e\00a0\f036";
  }

}

#tui_toolkit_contentblocksbundle_contentblock_layoutType_2 ~ .mdl-radio__label,
td .layout-icons.image_right {

  &:before {
    content: "\f036\00a0\f03e";
  }

}

#tui_toolkit_contentblocksbundle_contentblock_layoutType_3 ~ .mdl-radio__label,
td .layout-icons.image_top {
  height: 48px;

  &:before {
    content: "\f03e";
  }

  &:after {
    content: "\f036";
  }

}

#tui_toolkit_contentblocksbundle_contentblock_layoutType_4 ~ .mdl-radio__label,
td .layout-icons.image_bottom {
  height: 48px;

  &:before {
    content: "\f036";
  }

  &:after {
    content: "\f03e";
  }

}





.content-block {
  @include clear-fix();
  clear: both;
  margin-bottom: $element-bottom;

  &.content-block-size-half {

    @include breakpoint_tablet() {
      clear: none;
      float: left;
      width: $column_total_width * 2;
    }

  }

  & ~ .record_actions {
    clear: both;
  }

  h2 {
    margin: 0;
    padding: 24px 0;
    @include mdl-primary-color(color, 6);

  }

}

.content-block-media {
  @include clear-fix();

  img {
    float: left;
  }

}

.content-block-layout-image_right,
.content-block-layout-image_left {

  .content-block-media {
    width: 50%;

    img {
      width: 100%;
    }

  }

  .content-block-body {
    width: 50%;
  }

}

.content-block-layout-image_right {

  .content-block-media {
    float: right;
    padding-left: 2em;
  }

  .content-block-body {
    float: left;
  }

}

.content-block-layout-image_left {

  .content-block-media {
    float: left;
    padding-right: 2em;
  }

  .content-block-body {
    float: right;
  }

}

.content-block-layout-image_top,
.content-block-layout-image_bottom {

  .content-block-media {

    img {
      width: 100%;
    }

  }

}

.content-block-layout-image_top {

  .content-block-media {
    margin-bottom: 1em;
  }

}

.content-block-layout-image_bottom {

  .content-block-media {
    margin-top: 1em;
  }

}

.content-block-size-half {

  &.content-block-layout-image_top,
  &.content-block-layout-image_bottom {

    img {
      width: 100%;
    }

  }

}

.add-content-block {
  clear: both;
  border: 2px dashed #000;
  @include mdl-primary-color(border-color, 6);
  @include mdl-primary-color(color, 6);
  text-align: center;
  padding: 20px 0;
  border-radius: 5px;
  text-decoration: none;
  margin: 20px 0;

  @include breakpoint_tablet() {
    margin-left: $column_gutter_width;
    margin-right: $column_gutter_width;
  }

}
