.paying-passengers-title {
  float:left;
  display: inline-block;

  h3 {
    font-size: 30px;
    font-weight: 300;
  }
}

.passenger-dashboard-copy {
  width: 60%;
  float:left;
}

.passenger-dashboard-buttons {
  display: inline-block;
  margin: 10px auto;
}

.passenger-count {
  float: right;
  width: 30%;
  display: inline-block;
  margin-top: 20px;

  .spots-remaining {
    font-size: 60px;
    font-weight: 200;
    margin-bottom: 10px;

  }
}

.passenger-form div.new_passenger > div > div:nth-child(5) {
  display: none;
}

.passenger-removed {
    -webkit-transition: max-height 1s;
    -moz-transition: max-height 1s;
    -ms-transition: max-height 1s;
    -o-transition: max-height 1s;
    transition: max-height 1s;
    overflow: hidden;
    // "height: 0" not work with css transitions
    max-height: 0 !important;
    //padding: 0;
}

.passenger-info {
  max-height: 200px;
}