#loader {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $border_grey_l;
  z-index: 9999;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -39px 0 0 -40px;
  }

}

/**
 * Quote Site page styles
 */
#site-quote-name {
  clear: both;
  font-size: 1.2em;
  padding-top: 1em;
}

#site-quote-number {
  font-size: 16px;
  margin: 1em 0;
}

#site-summary-details {
  list-style: none;
  line-height: 2em;
  padding: 0;

  .pdf-layout & {
    line-height: 1.25em;

    li {
      margin-bottom: 0.25em;
    }

  }

  .quote-price {
    font-size: 1.3em;
    font-weight: bold;
    display: block;
  }

}

.quote-site-actions {
  list-style: none;
  line-height: 3.5em;
  margin-bottom: 1em;
  padding: 0;
  width: 100%;

  a {
    min-width: 100%;
    .not-full {
      min-width: auto;
    }
  }
  .not-full {
    min-width: auto;
  }

  input {
    line-height: 2.2em;
    -moz-box-shadow: 3px 3px 5px 6px #ccc;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;
    box-shadow: 3px 3px 5px 6px #ccc
  }
}
.share-text {
  font-size: 1em;
  font-weight: bold;
  top: 1.5em;
  position: relative;
}

.expired-quote, .accepted-quote {
  -khtml-opacity:.70;
  -moz-opacity:.70;
  -ms-filter:”alpha(opacity=70)”;
  filter:alpha(opacity=70);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.7);
  opacity: 0.70;
  cursor: default;
}

.quote-view-site-header {
  background-color: lightgrey;
  padding: 2em 0;
  margin-top: $element-bottom;
  margin-bottom: $element-bottom;
  margin-left: -$column_gutter_width_reset;
  width: $column_total_width_reset;
  @include clear-fix();

  .pdf-layout & {
    margin: 0;
    padding: 0;
    width: 100%;
    background: transparent;
    position: relative;
    overflow: hidden;
  }

}

#site-header-slideshow {
  float: left;
  width: $column_total_width * 3;
  padding: 0 $column_gutter_width;

  .pdf-layout & {
    width: 60%;
    float: none;
    padding: 0;

    img {
      width: 100%;
    }

  }

}

#site-header-summary {
  float: right;
  width: $column_total_width;
  padding: 0 $column_gutter_width;

  .pdf-layout & {
    width: 35%;
    float: none;
    padding: 0;
    position: absolute;
    top: 0;
    right: 0;
  }

}

#site-footer {
  clear: both;
}
