#loader {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $border_grey_l;
  z-index: 9999;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -39px 0 0 -40px;
  }

}
