.tour-edit {
  width: auto;
  margin-bottom: $element-bottom;

  .mdl-card__supporting-text {
    width: auto;
  }

  .mdl-card__supporting-text.mdl-card--border {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

}

.payment_task {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    display: inline;

    .mdl-textfield {
      width: 135px;
    }

  }

}

.new_payment_task {
  .form-row {
    display: inline;
    list-style-type: none;
    .mdl-textfield {
      width: 135px;
    }
  }
  li {
    display: inline;
  }
}

.tour-show-wrapper {
  @include clear-fix();

  @include breakpoint_tablet() {
    margin-left: -$column_gutter_width_reset;
    width: $column_total_width_reset;
  }

}

.tour-show-left-column {
  margin-top: $element-bottom;
  position: relative;

  @include breakpoint_tablet() {
    padding: 0 $column_gutter_width;
    float: left;
    width: $column_total_width * 2;
  }

  .tour-show-submenu {
    list-style: none;
    padding-left: 0;

    label {
      display: block;
    }

    > li {
      padding-bottom: 1em;
      margin-bottom: 1em;
      border-bottom: 1px solid #ccc;
    }

    &.list-indent {
      padding-left: 1em;
    }

  }

  .payment-task-list {
    list-style: none;
    padding-left: 1.5em;
    margin-bottom: 2em;
  }

  .tour-edit-organizer-left {

    .tui-text-avatar,
    .tui-image-avatar {
      @include inline-block-vertical();
    }

  }

  label {
    font-size: 11px;
    color: #ccc;
  }

  .add-organizer {

    .add-icon {
      font-size: 36px;
      line-height: 48px;
      width: 48px;
      color: #fff;
      background: #ccc;
      border-radius: 24px;
      text-align: center;
    }

    &.mdl-button {
      vertical-align: top;
      position: relative;
      top: 6px;
    }

  }

}

.list-header {
  font-size: 1.4em;
  margin-bottom: 2em;
  line-height: 2.5em;
  border-bottom: 1px solid black;
  width: 100%;
}

.tour-show-right-column {
  margin-top: $element-bottom;
  position: relative;
  z-index: 5;

  @include breakpoint_tablet() {
    margin-top: -50px;
    float: right;
    width: $column_total_width * 2;
  }

  @include breakpoint_desktop() {
    width: $column_total_width * 2;
  }

  a {
    text-decoration: none;
  }

  .tour-dashboard-cta {
    position: relative;
    display: inline;

    @include breakpoint_tablet() {
      position: absolute;
      right: 20px;
      top: 11%;
    }
    &.status-block {
      position: absolute;
      right: 20px;
      top: 10%;
    }

    }

  .completed-task {
    min-height: 0;
    opacity: 0.5;
    cursor: default;
  }

  .dashboard-titles:hover {
    background-color: #eee;
  }

  .download {
    vertical-align: top;
    position: relative;
    top: 6px;
    width: 90%;
    margin: 0 auto;
    display: block;

    @include breakpoint_desktop() {
      width: auto;
      max-width: 200px;
      margin: 0;
    }
  }
  .progress-bar {
    height: 20px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: none;
    border-right: none;
    border-left: none;
    background: #F5F5F5;
  }

}

.promo-assets {
  display: none;

  @include breakpoint_desktop() {
    display: inline-block;
  }
}

/* jeditable tour name css */
.editable-tourname-input {
  display: inline;
  input {
    color: #1c160d;
    font-weight: normal;
    font-size: 35px;
  }
}

.editable-tour-name.mode-edit:after {
  //border: 1px solid white;
  font-family: FontAwesome;
  content: "\f044";
  font-size: 25px;
  display: inline;

}

