.profile-content {
  position: relative;

  @include breakpoint_tablet() {
    width: $column_total_width_reset;
    margin-left: -$column_gutter_width_reset;
  }

}

.profile-permissions {
  position: relative;
  z-index: 5;

  @include breakpoint_tablet() {
    float: left;
    margin-top: -(50px + 32px);
    width: $column_total_width * 2;
  }

}

.profile-details {

  @include breakpoint_tablet() {
    float: left;
    width: $column_total_width * 2;
    padding: 0 $column_gutter_width;
  }

}

.profile-tour-header {
  height: 180px;
  position: relative;
  justify-content: flex-end;
  flex-direction: column;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
  }

  > * {
    color: #fff;
    position: relative;
  }

  .date-span {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 0.5em;
    // text-shadow: 2px 2px #000;
  }

  h2 {
    padding: 0;
    flex-direction: row;
    width: 100%;

    a {
      color: inherit;
      text-decoration: none;
      font-weight: inherit;
    }

  }

  .profile-quote-edit,
  .profile-tour-edit {
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
    text-decoration: none;
  }

}

.profile-tab {
  line-height: 3;
  border-bottom: 1px solid grey;
  opacity: .5;
  display:block;
  font-weight: 400;
  font-size: 18px;
  padding-left:1em;
  cursor: pointer;
}
.profile-tab-header {
  line-height: 3;
  border-bottom: 1px solid grey;
  opacity: .7;
  display:block;
  font-weight: 400;
  font-size: 18px;
}
.profile-tabs {
  padding: 1em 1em 1em 0;
}
.profile-details-card {
  justify-content: flex-end;
  padding:1em;
  line-height: 1.5;
  font-size:15px;
  font-weight:200;
}

.profile-tab-active {
  font-weight:600;
  opacity: .8;
}

.profile-tour-details {
  position: relative;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .profile-list-item {
    float: left;
    position: relative;

    &.item-1,
    &.item-2 {
      font-size: 18px;
      line-height: 1.5;

      @include breakpoint_desktop() {
        min-height: 76px;
      }

    }

    &.item-1 {
      padding-right: 16px;
      width: 50%;

      @include breakpoint_desktop() {
        width: 20%;
      }

      &.tour-dashboard {
        padding: 10px;
        text-align: center;

        @include breakpoint_desktop() {
          text-align: left;
          width: auto;
          min-width: 20%;

        }

        &.two-column {
          width: 50%;
          text-align: center;
        }

        &.four-column {
          width: 50%;

          @include breakpoint_desktop() {
            width: 25%;
          }
        }

      }

      }

    &.item-2 {
      padding-left: 16px;
      width: 50%;
      border-left: 1px solid #757575;

      @include breakpoint_desktop() {
        padding-right: 16px;
        width: 30%;
        border-right: 1px solid #757575;
      }

      &.tour-dashboard {
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        padding: 10px;
        text-align: center;

        @include breakpoint_desktop() {
          border-right: 1px solid rgba(0, 0, 0, 0.1);
          text-align: left;
          width: auto;
          min-width: 20%;
        }

        &.two-column {
          width: 50%;
          border-right: none;
          text-align: center;
        }

        &.four-column {
          width: 50%;

          @include breakpoint_desktop() {
            width: 25%;
          }
        }
      }
    }

    &.item-3 {
      width: 100%;
      line-height: 24px;

      @include breakpoint_desktop() {
        padding-left: 16px;
        width: 50%;
      }

      label {
        padding-top: 4px;
      }

      &.tour-dashboard {
        text-align: center;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        font-size: 18px;
        padding: 10px;

        @include breakpoint_desktop() {
          border-top: none;
          text-align: left;
          width: auto;
          min-width: 20%;
        }

        &.four-column {
          width: 50%;

          @include breakpoint_desktop() {
            width: 25%;
          }
        }

      }
    }

      &.item-4 {
        width: 100%;
        line-height: 24px;

        @include breakpoint_desktop() {
          padding-left: 16px;
          width: 50%;
        }

        label {
          padding-top: 4px;
        }

        &.tour-dashboard {
          text-align: center;
          border-top: 1px solid rgba(0, 0, 0, 0.1);
          font-size: 18px;
          padding: 10px;

          @include breakpoint_desktop() {
            border-top: none;
            text-align: left;
            border-left: 1px solid rgba(0, 0, 0, 0.1);
            width: auto;
            min-width: 20%;
          }

          &.four-column {
            width: 50%;
            border-left: 1px solid rgba(0, 0, 0, 0.1);

            @include breakpoint_desktop() {
              width: 25%;
            }
          }
        }

      }


    .tui-text-avatar {
      float: left;
      margin-right: 8px;
    }

    label {
      opacity: 0.5;
      display: block;
    }

  }

}
