{% extends 'base.html.twig' %}

{% block title %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Welcome {{ app.user.username }}
    {% else %}
        User Login
    {% endif %}
{% endblock %}
{% block page_title %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Welcome {{ app.user.username }}
    {% else %}
        User Login
    {% endif %}
{% endblock %}

{% block body %}

    <div class="login-message-block">
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            <div class="{{ type }}">
                {{ message|trans({}, 'FOSUserBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    </div>
    <div>
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}