{# CTA buttons above the quote grid #}
<ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_tour') }}"><i class="fa fa-plus-circle"></i> Fake Action</a>
    </li>
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('manage_tour') }}"><i class="fa fa-plus-circle"></i> Do Something</a>
    </li>
</ul>
