<div class="tour-edit mdl-card mdl-shadow--2dp">

    <div class="mdl-card__title">
        <h3 class="mdl-card__title-text">Get Started</h3>
    </div>

    <div class="mdl-card__supporting-text mdl-card--border" style="color: grey;">
        <i class="fa fa-check"></i> Sign up to EToolkit
    </div>

    <div class="mdl-card__supporting-text mdl-card--border" style="color: grey;">
        <i class="fa fa-check"></i> Set up your payment settings
    </div>

    <div class="mdl-card__supporting-text mdl-card--border" style="color: grey;">
        <i class="fa fa-clone"></i> <a href="{{ path('tour_site_action_show', { 'id': entity.id }) }}" style="color: grey;">Personalize your website</a>
    </div>

    <div class="mdl-card__supporting-text mdl-card--border">
        <i class="fa fa-share"></i><a id="promote-tour" href="#">Promote your tour</a>
    </div>

</div>

<script>
    {% if entity.media != NULL %}
    var something = '<a href="/tour/view/export/{{ entity.id }}/{{ entity.quoteNumber }}.zip" target="_blank" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored print-actions"> <i class="fa fa-download"></i> Download Promo Materials</a>';
    {% else %}
    var something = '<a class="expired-quote mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="#"><i class="fa fa-download"></i> Download Promo Materials </a>';
    {% endif %}
// Promote Popup
$(document).on('click', '#promote-tour', function (e) {
e.preventDefault();
var shareValue = "{{ url('tour_site_show', { 'id': entity.id, 'quoteNumber' : entity.quoteNumber }) }}";
$("#dialog").html('<div id="content-wrapper" class="mdl-tabs mdl-js-tabs mdl-js-ripple-effect">' +
'<div id="content-blocks-wrapper" class="content-block-tabs-bar mdl-tabs__tab-bar">' +
'<a href="#tabs-drawer-1" class="view-tab site-content-blocks-tab mdl-tabs__tab " tabId="1"><span class="tab-name"><i style="margin-right: 10px;" class="fa fa-link fa-1x"></i>Url</span></a>' +
'<a href="#tabs-drawer-2" class="view-tab site-content-blocks-tab mdl-tabs__tab " tabId="2"><span class="tab-name"><i style="margin-right: 10px;" class="fa fa-download fa-1x"></i>Toolkit</span></a>' +
'</div></div>' +
'<div id="tabs-drawer-1" class="mdl-tabs__panel content-blocks-drawer">' +

    '<h3>Share this Tour with others</h3>' +
'<div><p>To send this tour to others, copy the URL below.</p></div>' +
'<div class="input"><input style="width:70%; padding:.25em; margin:1em;" type="text" id="share_url" name="share_url" value="' + shareValue + '" readonly="readonly">' +
    '<a href="#" id="copy-button" data-clipboard-target="share_url"' +
    'title="Click to copy Tour URL"' +
    'class="not-full mdl-button mdl-js-button mdl-button--raised mdl-button--colored">' +
    '<i class="fa fa-sign-in fa-stack"></i>' +
    '</a></div></div>' +
    '<div id="tabs-drawer-2" class="mdl-tabs__panel content-blocks-drawer">' + something +'</div>'
);
$("#dialog").dialog({width: '30%', height: '200'}).dialog("option", "title", "Promote the Tour").dialog("open");
// Copy to Clipboard
ZeroClipboard.config({swfPath: "//cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.swf"});
var client = new ZeroClipboard(document.getElementById("copy-button"));
client.on('aftercopy', function (event) {
$('#copy-button').css('background-color', 'green');
});
//remove the CopytoClipboard button if not Flash
if (navigator.mimeTypes["application/x-shockwave-flash"] == undefined) {
$("#copy-button").addClass('hidden');
$('share_url').css('width', '80%');
}
doMDL_popup('.input');

});
</script>