{% extends '::base.html.twig' %}

{% block title %}{% trans %}tour.title.index_active{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}tour.page_title.index_active{% endtrans %}{% endblock %}

{% block body %}

    {#{% embed "TourBundle:Tour:buttons.html.twig" %}{% endembed %}#}

    {% embed "TourBundle:Tour:tour_tabs.html.twig" %}
        {% block active_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_tour') }}">{% trans %}tour.tabs.active{% endtrans %}</a>
        {% endblock %}
    {% endembed %}

    {{ grid_search(grid, 'AppBundle:Grid:grid.html.twig') }}
    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/zeroclipboard/2.2.0/ZeroClipboard.js"></script>
    <script>
        $(document).ready(function() {
            $(".fam-lock, .fam-unlock").parent().on('click', function() {
                $("#loader").css("display", "inline-block");
            });

            /**
             * manipulate the tour index page for business users when they want contact/notify organizers
             */

            if($("a[title='Email']").length) {
                $(document).on('click', "a[title='Email']", function (e) {
                    var link = $(this).attr('href');
                    console.log(link);
                    e.preventDefault();
                    $("#dialog").html("");
                    $("#dialog").dialog("open");
                    $("#dialog").load(link , function () {
                        $(this).dialog("option", "title", "Email the organizer");
                        doMDLpopup($('#dialog')); // run the function to add appropriate MDL classes to form elements
                    });
                });
            }
        });
    </script>


{% endblock %}