{% extends '::base.html.twig' %}
{% block title %{% trans %}tour.title.new{% endtrans %}{% endblock %}
{% block page_title %}{% trans %}tour.page_title.new{% endtrans %}{% endblock %}

{% block body -%}

    {{  form(form) }}


    <ul class="record_actions">
        <li>
            <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"
               href="{{ path('manage_tour') }}">
                <i class="fa fa-arrow-circle-left"></i>{% trans %}tour.actions.back{% endtrans %}
            </a>
        </li>
    </ul>
    {{ form_javascript(form) }}
    <script>
        $( document ).ready(function() {
           $( ".hasDatepicker" ).datepicker( "option", "dateFormat", "{{ date_format }}" );
            $( ".hasDatepicker" ).change(function(){
                if ($(this).val()){
                    $(this).parent().addClass('is-dirty');
                } else if (!$(this).val()) {
                    $(this).parent().removeClass('is-dirty');
                }
            });
        });
    </script>
{% endblock %}
