{% extends '::base.html.twig' %}
{% block title %}Create Brand{% endblock %}
{% block page_title %}Create Brand{% endblock %}

{% block body -%}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="{{ path('_manage_brand') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
