{% block body -%}

    <div class="dietary-form sidebar-form-edit">
        {{ form(edit_form) }}
        {#<ul class="record_actions">#}
        {#<li>{{ form(delete_form) }}</li>#}
        {#</ul>#}
    </div>

{% endblock %}