
{% block body -%}

    <div class="dietary-form">
        {{ form(form) }}
    </div>
    <script>
        $(document).ready(function () {
            var tourId = $('.site-show').attr('entityId');
            var passengerId = $('.site-show').attr('passengerId');
            $('#tui_toolkit_passengerbundle_dietary_passengerReference').val(passengerId);
            $()
        });
    </script>

{% endblock %}