{% block body -%}
    <div class="passport-form">
        <div class="errors">
            {{ form_errors(edit_form) }}
        </div>
        {{ form(edit_form) }}


        {#<ul class="record_actions">#}
        {#<li>{{ form(delete_form) }}</li>#}
        {#</ul>#}
    </div>
{% endblock %}
