@mixin clear-fix() {

  &:after {
    content: '';
    display: table;
    clear: both;
  }

}

/* @mixin full-width-element() {
  width: $fluid_width;

  @include breakpoint($desktop) {
    width: $page_width_reset;
    margin-left: -$page_gutter_reset;
  }

} */

@mixin inline-block-vertical( $v: top ) {
  display: inline-block;
  vertical-align: $v;
}

@mixin not-selectable() {
  -webkit-touch-callout: none;
  @include vendor-prefix(user-select, none);
}

@mixin move-dropzone-up() {
  position: relative;
  //padding-bottom: 160px + 36px + 20px;
  padding-bottom: 40px;

  .button-row {
    margin: 0;
    position: absolute;
    left: 0;
    bottom: 0;
  }

  ~ .dropzone {
    margin-top: -(160px + 36px + 20px);
    margin-bottom: 36px + 20px + 20px;
  }

}

@mixin span-all() {
  padding-left: $column_gutter_width;
  padding-right: $column_gutter_width;
}
