{% trans_default_domain 'FOSUserBundle' %}
{% block subject %}
    {% autoescape false %}
    {{ 'resetting.email.subject'|trans }}
    {% endautoescape %}
{% endblock %}
<header style="height: 250px; background-color:#80BB41; width: 100%;">
    <p style="text-align: center; color: #fff;">For [tour name] departing on [departure date]</p>
    <p style="text-align: center; text-transform: uppercase; color: #fff;">there is supposed to be a logo here logo</p>
</header>
{% block body_html %}
    <div class="outer" style="background:#E5E8EA; margin-top: -20px; ">
        {% block body_text %}
            {% autoescape false %}
            <div class="inner" style="width:80%; margin: 0 auto; background-color: #fff; margin-top: -140px;">
                <div class="content" style="position: relative; width: 80%; margin: 0 auto;">
                    <h2 style="text-align: center; font-weight: 100; color: #283F5F;">Here's how to reset your
                        password</h2>
                    <p style="text-align: center; color: #717D82;">Hi {{ user.username }}, we've received a request to
                        change your
                        password. Click on the button below and follow the instructions to change your password</p>
                    <span style="display: block; text-align: center; overflow: hidden; margin: 0 auto; width: 200px; padding: 20px; color:#fff; background-color: #80BB41;">Choose a password</br>{{ confirmationUrl|raw }}</span>
                    <hr>
                    <p style="text-align: center; color: #C7C3C5;">
                        You can also paste the link below straight into your browser window:
                    </p></br>
                    <span style="text-align: center; color:#80BB41; display: block; overflow: hidden;"> {{ confirmationUrl }} </span></br>
                    <p style="text-align: center; color: #717D82;">
                        if you didn't make this request, or didn't mean to, just ignore this email and your password
                        will stay as it is.
                    </p>
                </div>
            </div>
            {% endautoescape %}
        {% endblock %}
        <footer style="background-color:#E5E8EA;">
            <div class="footer-middle" style="width: 60%; margin: 0 auto; position: relative; margin-top: -150px;">
                <table style="margin: 0 auto;">
                    <tr>
                        <td><a href="/terms" style="display: inline-block; color:#9DA6AA; padding:20px;">Terms of use</a></td>
                        <td><a href="toolkit.vm" style="display: inline-block; color:#9DA6AA;  padding:20px;">Log in to tour manager</a></td>
                        <td><a href="/notifications" style="display: inline-block; color:#9DA6AA; padding:20px;">Change Notification Preferences</a></td>
                        <td><a href="view-in-browser" style="display: inline-block; color:#9DA6AA; padding:20px;">View in browser</a></td>
                    </tr>
                    </table>
                <p style="text-align: center; color:#9DA6AA;">Copyright © 2015 [Company], All rights reserved</p>
                <p style="text-align: center; color:#9DA6AA;">[Company Address]</p>
            </div>
        </footer>
    </div>
{% endblock %}