{% extends '::base.html.twig' %}
{% block title %}Manage Quotes{% endblock %}

{% block body %}

    <h1>Quote Dashboard - Active</h1>

    {% embed "QuoteBundle:Quote:buttons.html.twig" %}{% endembed %}

    {% embed "QuoteBundle:Quote:quote_tabs.html.twig" %}
        {% block active_tab %}
            <a class="mdl-tabs__tab is-active" href="{{ path('manage_quote') }}">Active Quotes</a>
        {% endblock %}
    {% endembed %}

    {{ grid_search(grid) }}

    {{ grid(grid, 'AppBundle:Grid:grid.html.twig') }}

{% endblock %}
