{% extends '::base.html.twig' %}
{% block title %}Create Quote{% endblock %}
{% block body -%}
    <h1>Quote creation</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('manage_quote') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
