
{# display pagination #}
<div class="pagination">
    Total: {{ entities.getTotalItemCount }}{{ knp_pagination_render(entities) }}
    <form>
        Show <select id="pageRange" onchange="window.location.replace('{{ paginationUrl }}?pageRange=' + this.value {% if query != '' %} + '{{ query }}'{% endif %})">
            <option value="10"{% if pageRange ==10 %} selected="true" {% endif %}>10</option>
            <option value="25"{% if pageRange ==25 %} selected="true" {% endif %}>25</option>
            <option value="50"{% if pageRange ==50 %} selected="true" {% endif %}>50</option>
            <option value="100"{% if pageRange ==100 %} selected="true" {% endif %}>100</option>
        </select> per page
    </form>
</div>