{% if brand.media %}
    <div class="logo">
        <img src="{{ app.request.uriForPath( asset( brand.media.getRelativePath ~ "/" ~ brand.media.getHashedFilename ) ) }}" alt="{{ brand.name }}">
    </div>
{% else %}
    {{ brand.name }}
{% endif %}
