{% if brand.media %}
    <div class="logo">
        <img src="{{ ( brand.media.getRelativePath ~ "/" ~ brand.media.getHashedFilename ) | imagine_filter('thumbnailLarge') }}" alt="{{ brand.name }}">
    </div>
{% else %}
    {{ brand.name }}
{% endif %}
