<div class="content-block">
    <div class="flexslider">
        <ul class="slides">
            {%  if entity %}
                {% for media in entity.media %}
                    <li>
                        <img src="{{ asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}" />
                    </li>
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>