<div id="header-block-content-item" class="header-block-content-item content-block" blockId="{{ entity.id }}">
    <div class="flexslider">
        <ul class="slides">
            {% if entity %}
                {% for mediaWrapper in entity.mediaWrapper %}
                    {% for media in mediaWrapper.media %}
                    <li>
                        <span class="inner-list"><span><img src="{{ asset( media.getRelativePath ~ "/" ~ media.getHashedFilename ) | imagine_filter('slideShow') }}" title="{{ mediaWrapper.title }}" alt="{{ mediaWrapper.title }}"></span></span>
                    </li>
                        {% endfor %}
                {% endfor %}
            {% endif %}
        </ul>
    </div>
</div>
