{% extends 'base.html.twig' %}
{%  dump(user) %}
{% block title %}Hello {{ user.username }} {% endblock %}
{% block body %}Hello {{ user.username }}!

    <p>This is the default User Profile page, using the template src/TUI/Toolkit/UserBundle/Resources/views/Default/index.html.twig.</p>


{% endblock %}

