// Default colors
$black : #000;
$white : #fff;

// Background colors
$bg_grey_d : #4a4a4a;
$bg_grey_l1 : #f5f5f5;
$bg_grey_l2 : #f9f9fa;
$bg_white : #fff;

// Border colors
$border_grey_l : #e3e3e3;
$border_grey_d : #3a3a3a;

// Text colors
$text_white : #fff;
$text_black : #000;
$text_grey : #c0c0c0;
// $text_link_light : #8bc34a; // on light background
// $text_link_dark : #bdff70; // on dark background
