// Default colors
$black : #000;
$white : #fff;

// Background colors
$bg_grey_d : #4a4a4a;
$bg_grey_l1 : #f5f5f5;
$bg_grey_l2 : #f9f9fa;
$bg_black : #000;
$bg_white : #fff;

// Border colors
$border_grey_l : rgba(0, 0, 0, 0.12);
$border_grey_d : rgba(0, 0, 0, 0.88);

// Text colors
$text_white : #fff;
$text_black : #000;
$text_grey : #c0c0c0;
$text_grey_t : rgba(0, 0, 0, 0.26);
// $text_link_light : #8bc34a; // on light background
// $text_link_dark : #bdff70; // on dark background
