// Default colors
$black : #000;
$white : #fff;

// Background colors
$bg_grey_d : #4a494a;
$bg_grey_l1 : #f4f5f6;
$bg_grey_l2 : #f9f9fa;
$bg_white : #fff;

// Border colors
$border_grey : #e2e3e3;

// Text colors
$text_white : #fff;
$text_black : #000;
$text_grey : #c0c0c0;
$text_link_light : #8bc34a; // on light background
$text_link_dark : #bdff70; // on dark background

// Swapped colors
$brand : #8bc34a;
