// Clones variables (some) from MDL variable file

$color-primary : rgb(255,64,129);

$layout-screen-size-threshold : 1024px;

$layout-header-mobile-indent : 16px;
$layout-header-desktop-indent : 40px;
